= Gitlab::Homepage::Stage.all!.each_with_object({}) { |stage, memo| memo[stage.key] = { name: stage.display_name, section: stage.section, groups: stage.groups, label: stage.label, slack_channel: stage.slack } }.to_json
