## Categories

There are a few product categories that are critical for success here; each one
is intended to represent what you might find as an entire product out in the
market. We want our single application to solve the important problems solved by 
other tools in this space - if you see an opportunity where we can deliver
a specific solution that would be enough for you to switch over to GitLab, 
please reach out to the PM for this stage and let us know.

Each of these categories has a designated level of maturity; you can read more about our 
[category maturity model](/direction/#maturity) 
to help you decide which categories you want to start using and when.

<%= partial("direction/categories-content", :locals => { :stageKey => stageKey }) %>
